@import 'mixins/mixins';
@import 'common/var';

// map
@include b(doc) {
  // padding: 10px;
  background-color: #4b4b4b;
  height: 100%;
  color: #ffffff;

  @include e(header) {
    height: 50px;
    width: 100%;
    background: #2c2c2c;
    border: 1px solid;
    border-color: #2c2c2c #000 #000 #4b4b4b;
    user-select: none;
    font: 22px/1 Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
    line-height: 50px;
    padding-left: 10px;
  }

  @include e(main) {
    padding: 20px;
    pointer-events: fill;
  }
}
